body{
	margin: 100px;
}

#Counter{
	padding: 100px;
	background: #777;
	border-radius: 20px;
}
#Counter .Container{
	position: relative;
	width: 100%;
	flex-direction: column;
}
#Counter .sec{
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 10px 30px;
}

#Counter .count{
	font-size: 42px;
}

#Counter .text{
	font-size: 22px;
	font-family: sans-serif;
	padding-top: 10px;
}